# Python
__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/
.poetry/

# Node
node_modules/
dist/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*.log
.vscode/.ropeproject

# Alembic
backend/migrations/__pycache__/

# Coverage
htmlcov/
.coverage

# Misc
*.swp
